body {
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    text-align: center;
    width: 300px;
}

h1 {
    color: #0277bd;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    color: #01579b;
    font-size: 18px;
    margin: 10px 0;
}

form {
    margin-bottom: 50px;
}
